<html>
<head>
<title>Zeige Rezepte</title>
</head>
<body>
<a href="/showRecipes">Zeige Rezepte</a>
<a href="/addRecipe">Füge Rezept hinzu</a>
<h1>Rezept Übersicht</h1>
<table>
<tr>
<th>Name</th>
<th>Zutaten</th>
</tr>

{% for recipe in recipes %}
	<tr>
	<td>{{ recipe.name }}</td>
	<td>
	{% for ingredient in recipe.ingredients.all %}
		{{ ingredient.name }} 
		{% if  ingredient.quantityInMl != NONE %}
			{{ ingredient.quantityInMl }} ml <br>
		{% else %}
			{{ ingredient.quantityInMg }} mg <br>
		{% endif %}
		
	{% endfor %}
	<td>
	</tr>
{% endfor %}

</table>


</body>
</html>